<!-- Porfolio Section -->
<section id="{{ page.title }}" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      {{ page.content | markdownify }}
        <div class="card-container">
      <div class="panel panel-default style-panel">
        <div class="panel-body" style="padding:0 !important;">
          <div class="panel-img-container">
            <div class='panel-item-description'>
              Connecting you with the exceptional ... - Made with Typescript and React Native
            </div>
            <img src="https://images.velocityapp.com/web/vblack/social.jpg" style="margin:auto; width: 150%; transform: translate(-50%); left: 50%;" class="img-panel" height="200" alt="" style="margin:auto;">
          </div>
          <a class="panel-text-item" href="https://velocity.black/" target="_blank"><h4 class="panel-text-head">Velocity Black <br/></h4></a>
          </div>
        </div>
        <div class="panel panel-default style-panel">
          <div class="panel-body" style="padding:0 !important;">
            <div class="panel-img-container">
              <div class="panel-item-description">
                Responsible for building the pages which serve flights to millions a day on web mobile and desktop with Angular, Redux, and RXJS
              </div>
              <img src="/img/career/ryanair.png" style="margin:auto; object-fit: cover;" class="img-panel" height="200" alt="" style="margin:auto;">
            </div>
            <a class="panel-text-item" href="https://www.ryanair.com/ie/en/trip/flights/select?adults=1&teens=0&children=0&infants=0&dateOut=2020-10-08&dateIn=2020-10-16&originIata=DUB&destinationIata=STN&isConnectedFlight=false&isReturn=true&discount=0&tpAdults=1&tpTeens=0&tpChildren=0&tpInfants=0&tpStartDate=2020-10-08&tpEndDate=2020-10-16&tpOriginIata=DUB&tpDestinationIata=STN&tpIsConnectedFlight=false&tpIsReturn=true&tpDiscount=0" target="_blank"><h4 class="panel-text-head">Ryanir Flights & Passengers</h4></a>
            </div>
          </div>
      </div>


            <div class="row">
            <div class="text-center media-center inline" style="padding:20px">
              <a class="panel-text-item" href="http://github.com/evanjmg" target="_blank">
                <h4>See more work on Github</h4>
                <img src="/img/portfolio/github.png" width="80" alt="github"></a>
              </div>
              <div class="text-center media-center inline" style="padding:20px">
                <a class="panel-text-item" href="/pdfs/Evan-Gillogley-front-end-March-2020.pdf" target="_blank">
                  <h4>Take a Look at My CV</h4>
                  <img src="/img/portfolio/cv.png" width="80" alt="github"></a>
                </div>
                </div>
            </div>
          </div>
        </section>