<!-- Porfolio Section -->
<section id="{{ page.title }}" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      {{ page.content | markdownify }}
        <div class="card-container">
      <div class="panel panel-default style-panel">
        <div class="panel-body" style="padding:0 !important;">
          <div class="panel-img-container">
            <div class='panel-item-description'>

              Connecting you with the exceptional ... - Made with Typescript and React Native
            </div>
            <img src="https://images.velocityapp.com/web/vblack/social.jpg" style="margin:auto; width: 150%; transform: translate(-50%); left: 50%;" class="img-panel" height="200" alt="" style="margin:auto;">
          </div>

          <a class="panel-text-item" target="_blank" href="https://play.google.com/store/apps/details?id=com.velocityapp.consumer&hl=en_GB">
            <h4 class="panel-text-head">Velocity Black <br/> (Android)</h4>
            <h5 class="panel-text-item inline">Visit Google Play</h5></a>
          </div>
        </div>
      </div>
       <div class="card-container">
          <div class="panel panel-default style-panel">
            <div class="panel-body" style="padding:0 !important;"><div class="panel-img-container">
            <div class='panel-item-description'>
            Velocity OS is a table management, payments, and CRM platform that empowers restaurants to deliver personalised and memorable guest experiences.

            </div>
              <img  src="/img/portfolio/velocity-os.jpg" class="img-panel" height="200" alt="" style="margin:auto; width: 125%; transform: translate(-50%, 25%) scale(1.5); left: 50%;">
            </div>
            <a style="text-decoration: none !important" class="panel-text-item" >
              <h3 class="panel-text-head">Velocity OS</h3></a>
            </div>
          </div>
        </div>


            <div class="row">
            <div class="text-center media-center inline" style="padding:20px">
              <a class="panel-text-item" href="http://github.com/evanjmg" target="_blank">
                <h4>See more work on Github</h4>
                <img src="/img/portfolio/github.png" width="80" alt="github"></a>
              </div>
              <div class="text-center media-center inline" style="padding:20px">
                <a class="panel-text-item" href="/pdfs/Evan Gillogley-senior-javascript-engineer-Nov-2018.pdf" target="_blank">
                  <h4>Take a Look at My CV</h4>
                  <img src="/img/portfolio/cv.png" width="80" alt="github"></a>
                </div>
                </div>
            </div>
          </div>
        </section>