<!-- Porfolio Section -->
<section id="{{ page.title }}" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      {{ page.content | markdownify }}
        <div class="card-container">
          <div class="panel panel-default style-panel">
            <div class="panel-body" style="padding:0 !important;">
              <div class="panel-img-container">
                <div class='panel-item-description'>

                Discover the best dining experiences with Velocity - Made with Typescript, Angular, Jquery, Firebase, and more...
                </div>
                <img src="/img/default-social-image.jpg" class="img-panel" height="200" alt="" style="margin:auto; width: 150%; transform: translate(-50%); left: 50%;">
              </div>
              <a class="panel-text-item" target="_blank" href="https://velocityapp.com">     <h4 class="panel-text-head">Velocity Website</h4>
                <h5 class="inline panel-text-item" >Visit Website</h5></a>
              </div>
            </div>
          </div>
        <div class="card-container">
      <div class="panel panel-default style-panel">
        <div class="panel-body" style="padding:0 !important;">
          <div class="panel-img-container">
            <div class='panel-item-description'>

              Find Great Little Places in over 99 different cities. Made with AngularJS and Rails @ Great Little Place
            </div>
            <img src="https://cdn3.recombu.com/media/mobile/Apps/Great%20Little%20Place/GLPthumb_w720.png" class="img-panel" height="200" alt="" style="margin:auto;">
          </div>

          <a class="panel-text-item" target="_blank" href="http://www.greatlittleplace.com">
            <h4 class="panel-text-head">Great Little Place</h4>
            <h5 class="panel-text-item inline">Visit Website</h5></a>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="panel panel-default style-panel">
          <div class="panel-body" style="padding:0 !important;">
            <div class="panel-img-container">
            <div class='panel-item-description'>
            Conquer the World! Badgee style! Take on and create challenges to share with your friends.
            <br>
            &hearts; Made with Love, Angular, Node.js, and loads of honey badger fearlessness.

            </div>
              <img src="/img/portfolio/badgee-portfolio.png" class="img-panel" height="200" alt="" style="margin:auto;">
            </div>
            <a  target="_blank" class="panel-text-item" href="https://badgeeapp.herokuapp.com/#/#%2F">
              <h3 class="panel-text-head">Badgee</h3>
              <h5 class="panel-text-item inline">Demo</h5></a> |

             <a  target="_blank" href="https://badgeeapp.herokuapp.com/api"> <h5 class="panel-text-item inline">API</h5></a>
             | <a  target="_blank" href="https://github.com/evanjmg/Badgee"> <h5 class="panel-text-item inline">Github</h5></a>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="panel panel-default style-panel">
            <div class="panel-body" style="padding:0 !important;"><div class="panel-img-container">
            <div class='panel-item-description'>
            Discover new places to eat through selecting photos from Instagram. Made with Rails, Geolocation/Geocoder, Instagram, Facebook, and Google Maps.

            </div>
              <img src="/img/portfolio/foodsee-portfolio-card.png" class="img-panel" height="200" alt="" style="margin:auto;">
            </div>
            <a target="_blank" class="panel-text-item" href="http://www.foodseeapp.com/">
              <h3 class="panel-text-head">Foodsee</h3><h5 class="panel-text-item inline">Demo</h5></a>
              |
              <a target="_blank" href="https://github.com/evanjmg/Foodsee"> <h5 class="panel-text-item inline">Github</h5></a>
            </div>
          </div>
        </div>


            <div class="row">
            <div class="text-center media-center inline" style="padding:20px">
              <a class="panel-text-item" href="http://github.com/evanjmg" target="_blank">
                <h4>See more work on Github</h4>
                <img src="/img/portfolio/github.png" width="80" alt="github"></a>
              </div>
              <div class="text-center media-center inline" style="padding:20px">
                <a class="panel-text-item" href="/pdfs/Evan-Gillogley-web-dev.pdf" target="_blank">
                  <h4>Take a Look at My CV</h4>
                  <img src="/img/portfolio/cv.png" width="80" alt="github"></a>
                </div>
                </div>
            </div>
          </div>
        </section>